#Game{
    text-align: center;
}

#Mycan{
    border: 3px solid black;
}

#scoreText{
    font-size: 100px;
}
#resetBtn{
    font-size: 50px;
    border: 3px solid black;
    border-radius: 15px;
    cursor: pointer;
}

#btz1{
    margin-top: -500px;
    width: 500px;
    height: 500px;
}

#btz2{
    margin-top: -500px;
    margin-left: 1405px;
    width: 500px;
    height: 500px;
}

